rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
    match /b/{bucket}/o {
        function getCurrentSeason() {
            return firestore.get(/databases/(default)/documents/site/site).data.currentSeason;
        }

        function isPresident(seasonId) {
            return (request.auth != null) && ((request.auth.uid == 'h4OHCNqfnGNtePbgJFUhoJCGkL62') || (request.auth.uid == firestore.get(/databases/(default)/documents/seasons/$(seasonId)).data.officers.president))
        }

        function isJuniorPRED(seasonId) {
            return request.auth != null && (request.auth.uid == firestore.get(/databases/(default)/documents/seasons/$(seasonId)).data.officers.junior_pred)
        }

        function isSeniorPRED(seasonId) {
            return request.auth != null && (request.auth.uid == firestore.get(/databases/(default)/documents/seasons/$(seasonId)).data.officers.senior_pred)
        }

        function isCaptain(seasonId, teamId) {
            return request.auth != null && (request.auth.uid in firestore.get(/databases/(default)/documents/seasons/$(seasonId)/teams/$(teamId)).data.captains)
        }

        match /site/{file} {
            allow read: if true;
            allow create, update: if isPresident(getCurrentSeason());
        }

        match /users/{userId} {
            allow read: if true;
            allow create, update: if request.auth != null && (request.auth.uid == userId || isPresident(getCurrentSeason()));
        }

        match /teams/{file} {
            allow read: if true;
            allow create, update: if isPresident(getCurrentSeason()) || isCaptain(file.split('_')[0], file.split('_')[1][0]);
        }

        match /events/{file} {
            allow read: if true;
            allow create, update: if isPresident(getCurrentSeason()) || isJuniorPRED(getCurrentSeason()) || isSeniorPRED(getCurrentSeason());
        }

        match /blogs/{blogId}/{file} {
            allow read: if true;
            allow create, update: if isPresident(getCurrentSeason()) || isJuniorPRED(getCurrentSeason()) || isSeniorPRED(getCurrentSeason());
        }
    }
}
