@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin 'daisyui';

:root {
    --primary-background-color: hsl(0, 0%, 5%);
    --primary-text-color: hsl(0, 0%, 88%);
    --gfr-red: #d94c4e;
    --gfr-blue: #3b82f6;
}

@theme {
    --color-white: hsl(0, 0%, 88%);
    --color-off-black: hsl(0, 0%, 5%);
    --color-gfr-red: #d94c4e;
    --color-gfr-blue: #3b82f6;
}
@source inline("{hover:,}text-gfr-red");
@source inline("{hover:,}bg-gfr-red");
@source inline("{hover:,}border-gfr-red");
@source inline("{hover:,}text-gfr-blue");
@source inline("{hover:,}bg-gfr-blue");
@source inline("{hover:,}border-gfr-blue");
@source inline("text-yellow-500");
@source inline("text-zinc-400");
@source inline("text-amber-600");
@source inline("hover:border-yellow-500");
@source inline("hover:border-zinc-400");
@source inline("hover:border-amber-600");

html,
body {
    @apply h-screen w-screen;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--primary-background-color);
}

.text-primary {
    @apply text-[var(--primary-text-color)];
}

.bg-primary {
    @apply bg-[var(--primary-background-color)];
}


.gfr-gradient {
    @apply from-[#DB4A4A] via-[#8FB5E7] to-white bg-clip-text text-transparent bg-gradient-to-r
}

.debug {
    @apply border-2 border-red-500
}

.debug-all > * {
    @apply border-2 border-red-500
}

div > section:first-of-type {
    @apply pt-24 pb-2 min-h-screen h-auto;
}

.box {
    @apply border-2 p-4 rounded-box border-base-200/90;
}
