@import "tailwindcss";

@plugin 'daisyui';
@plugin '@tailwindcss/typography';

:root {
    --primary-background-color: hsl(0, 0%, 5%);
    --primary-text-color: hsl(0, 0%, 88%);
    --gfr-red: #d94c4e;
    --gfr-blue: #3b82f6;
}

html,
body {
    @apply h-screen w-screen;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--primary-background-color);
}

.text-primary {
    @apply text-[var(--primary-text-color)];
}

.bg-primary {
    @apply bg-[var(--primary-background-color)];
}


.gfr-gradient {
    @apply from-[#DB4A4A] via-[#8FB5E7] to-white bg-clip-text text-transparent bg-gradient-to-r
}

.debug {
    @apply border-2 border-red-500
}

.debug-all > * {
    @apply border-2 border-red-500
}

div > section:first-of-type {
    @apply pt-24 min-h-screen;
}